#confident{
	width: 600px;
	height: 500px;
	background-color: white;
	margin: 30px auto;
	border: 1px solid red;
	padding: 30px 30px;
	background-image: url(stop.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
}

#confident> .button{
	display: inline;
	margin: 30px 30px;
	padding: 2px 2px;
	background-color: silver;
	border: 1px solid black;
}

#confident> a, a:visited, a:active{
	text-decoration: none;
	color: black;
}
